<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

        
<mapper namespace="com.minse0.tldusalstjgram.user.repository.UserRepository">

	<insert id="insertUser" parameterType="map">
		INSERT INTO
			`user`
	 (
	 		`loginId`
	 		, `password`
	 		, `name`
	 		, `nickname`
	 )
	 VALUES
	 (
	 	#{loginId}
	 	, #{password}
	 	, #{name}
	 	, #{nickname}
	 )		
	</insert>
	
	<select id="countUserByLoginId" resultType="int" parameterType="string">
        SELECT COUNT(*) FROM `user`
        WHERE loginId = #{loginId}
    </select>
    
    <select id="selectUser" parameterType="map" resultType="com.minse0.tldusalstjgram.user.domain.User">
		SELECT
			
	 		`id`
	 		, `loginId`
	 		, `password`
	 		, `name`
	 		, `nickname`
	 		, `createdAt`
	 		, `updatedAt`
	 	FROM
	 		`user`
	 	WHERE
	 		`loginId` = #{loginId}
	 		AND `password` = #{password}	
	 
	</select>
	
</mapper> 