@charset "UTF-8";

#wrap {
  width: 1200px;
  margin: 0 auto;
}

header {
  height: 100px;
}
footer {
  height: 100px;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 100px; 
}


.user-box {
  width: 420px;
  background-color: #f9f9f9;
  border-radius: 1rem;
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}


input.form-control {
  border-radius: 2rem;
  height: 45px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  font-size: 15px;
}


button.btn {
  border-radius: 2rem;
  padding: 10px 20px;
  font-weight: 500;
}


button.btn-dark {
  background-color: #212529;
  border: none;
  color: white;
}
