<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<section layout:fragment="contents" class="contents d-flex justify-content-center">
  <div class="user-box memo-bg">
    <h2 class="text-center mb-4">tldusalstjgram</h2>

    
    <div class="row gx-2 mb-4">
      <div class="col-8">
        <input type="text" class="form-control rounded-3" placeholder="아이디">
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-dark w-100 rounded-3">중복확인</button>
      </div>
    </div>

    <input type="password" class="form-control mb-4 rounded-3" placeholder="비밀번호">
    <input type="text" class="form-control mb-4 rounded-3" placeholder="성명">
    <input type="text" class="form-control mb-4 rounded-3" placeholder="사용자 이름">

    <button type="button" class="btn btn-dark w-100 rounded-3 mb-4">회원가입</button>

    <div class="text-center mt-4">
      계정이 있으신가요?
      <a href="/user/login-view">로그인</a>
    </div>
  </div>
</section>

</html>
