<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
	
	<section layout:fragment="contents" class="contents d-flex justify-content-center">
	  <div class="user-box memo-bg">
	    <h2 class="text-center mb-4">tldusalstjgram</h2>
	
	    
	    <div class="row gx-2 mb-4">
	      <div class="col-8">
	        <input type="text" class="form-control rounded-3" id="idInput" placeholder="아이디">
	        <div id="duplicateText" class="small text-danger d-none">중복된 아이디 입니다.</div>
			<div id="availableText" class="small text-success d-none">사용가능한 아이디입니다.</div>
	      </div>
	      <div class="col-4">
	        <button type="button" class="btn btn-dark w-100 rounded-3" id="duplicateBtn">중복확인</button>
	      </div>
	    </div>
		
	
	    <input type="password" class="form-control mb-4 rounded-3" id="passwordInput" placeholder="비밀번호">
	    <input type="text" class="form-control mb-4 rounded-3" id="nameInput" placeholder="성명">
	    <input type="text" class="form-control mb-4 rounded-3" id="nicknameInput" placeholder="사용자 이름">
	
	    <button type="button" class="btn btn-dark w-100 rounded-3 mb-4" id="joinBtn">회원가입</button>
	
	    <div class="text-center mt-4">
	      계정이 있으신가요?
	      <a href="/user/login-view">로그인</a>
	    </div>
	  </div>
	</section>

	<script layout:fragment="script">
	  $(document).ready(function () {
		  
		  let isIdValid = false, lastCheckId = "";
		
		  $("#idInput").on("input", function(){
			  // 중복확인 과정 초기화
			  lastCheckId = "";
			  isIdValid = false;
			  
			  $("#availableText").addClass("d-none");
			  $("#duplicateText").addClass("d-none");
		  });
		  
	    $("#duplicateBtn").on("click", function () {
	      const id = $("#idInput").val().trim();

	      if (id === "") {
	        alert("아이디를 입력해주세요!");
	        return;
	      }

	      $.ajax({
	        type: "GET",
	        url: "/user/is-duplicated-id",
	        data: { loginId: id },
	        success: function (response) {
	        	lastCheckId = id;
	          if (response.result === "fail") {
		            $("#duplicateText").removeClass("d-none");
					$("#availableText").addClass("d-none");
					
					isIdValid = false;
	          } else {
					$("#availableText").removeClass("d-none");
					$("#duplicateText").addClass("d-none");
					
					isIdValid = true;
	          }
	        },
	        error: function () {
	          alert("중복 확인 중 오류가 발생했습니다.");
	        }
	      });
	    });

	    $("#joinBtn").on("click", function () {
	      const id = $("#idInput").val().trim();
	      const password = $("#passwordInput").val().trim();
	      const name = $("#nameInput").val().trim();
	      const nickname = $("#nicknameInput").val().trim();

	      if (id === "") {
	        alert("아이디를 입력하세요!");
	        return;
	      }
	      if (password === "") {
	        alert("비밀번호를 입력하세요!");
	        return;
	      }
	      if (name === "") {
	        alert("성명을 입력하세요!");
	        return;
	      }
	      if (nickname === "") {
	        alert("사용자 이름을 입력하세요!");
	        return;
	      }
	      
	      if (!isIdValid && id === lastCheckId) {
	    	  alert("아이디가 중복되었습니다.");
	    	  return;
	    	}

	    	// 중복확인을 했는데, 그 이후 아이디를 바꿈
	    	if (id !== lastCheckId) {
	    	  alert("아이디 중복 확인을 다시 해주세요!");
	    	  return;
	    	}

	      $.ajax({
	        type: "POST",
	        url: "/user/join",
	        data: {
	          loginId: id,
	          password: password,
	          name: name,
	          nickname: nickname
	        },
	        success: function (response) {
	          if (response.result === "success") {
	            location.href = "/user/login-view";
	          } else {
	            alert("회원 가입 실패!");
	          }
	        },
	        error: function () {
	          alert("회원 가입 요청 중 에러가 발생했습니다.");
	        }
	      });
	    });
	  });
	</script>
	</html>