<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<section layout:fragment="contents" class="contents container d-flex justify-content-center align-items-center my-5">
  <div class="row w-100" style="max-width: 900px;">
    <!-- 왼쪽 로그인 폼 -->
    <div class="col-md-6 d-flex flex-column justify-content-center">
      <div class="user-box p-5 rounded-lg shadow-sm w-100">
        <h1 class="text-center mb-4">tldusalstjgram</h1>
        <input type="text" class="form-control rounded-3 mb-4 p-3" placeholder="아이디를 입력하세요">
        <input type="password" class="form-control rounded-3 mb-4 p-3" placeholder="비밀번호를 입력하세요">
        <button type="button" class="btn btn-dark rounded-3 mb-4 p-3 w-100">로그인</button>
        <div class="text-center">계정이 없으신가요? <a href="/user/join-view">가입하기</a></div>
      </div>
    </div>

    <!-- 오른쪽 이미지 -->
    <div class="col-md-6 d-none d-md-block d-flex align-items-center justify-content-center">
		<img src="/static/images/logo.png" alt="Logo" width="400">

    </div>
  </div>
</section>

</html>
